body{
  margin: 0 auto;
  

}

#main{
  background-image:url(final.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  width:100%;
  height:450px;
}

nav{
  /* position:fixed; */
  width: 100%;
  background:rgba(0,0,0,0);
  margin:0;
  text-align:center;
  height:80px;
}

nav ul{
  list-style-type:none;
  margin-right:40px;
  padding:0;
  float:right;
}

nav ul li{
  display:inline-block;
  padding: 20px;
  cursor:pointer;
}

nav ul li a{
text-decoration: none;
color:#000;
display:block;
font-size:20px;
}

nav ul li:hover{
  background:#fff;
  opacity:0.9;

}

nav ul ul {
  position: absolute;
  width:200px;
  margin-top:20px;
  /* background:() */
  margin-left:-20px;
  text-align:left;
  display:none;
}

nav ul ul li{
  display:block;

}
nav ul li:hover > ul{
  display: block;
  border-left:4px solid rgba(0,0,0,0);
}

nav ul li ul li a{
  text-decoration: none;
  color:#000;
  display:block;
  font-size:20px;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 30px;
    text-align: center;
    background-color:#fff;
    color:#000;
  }

  .information{
      text-align: center;
      color:#000;
      padding:20px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }