body{
  margin: 0 auto;

  

}

#main{
  background-image:url(final.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  width:100%;
  height:450px;
}

nav{
  /* position:fixed; */
  width: 100%;
  background:rgba(0,0,0,0.1);
  margin:0;
  text-align:center;
  height:80px;
}

nav ul{
  list-style-type:none;
  margin-right:40px;
  padding:0;
  float:right;
}

nav ul li{
  display:inline-block;
  padding: 20px;
  cursor:pointer;
}

nav ul li a{
text-decoration: none;
color:#000;
display:block;
font-size:20px;
}

nav ul li:hover{
  background:#fff;
  opacity:0.9;

}

nav ul ul {
  position: absolute;
  width:200px;
  margin-top:20px;
  /* background:() */
  margin-left:-20px;
  text-align:left;
  display:none;
}

nav ul ul li{
  display:block;

}
nav ul li:hover > ul{
  display: block;
  border-left:4px solid rgba(0,0,0,0.9);
}

nav ul li ul li a{
  text-decoration: none;
  color:#000;
  display:block;
  font-size:20px;
  }

  .formwrap{
    width:600px;
     background:#000;
     padding:10px 20px;
     box-sizing: border-box;
     position: absolute;
     left: 35%;
     top: 80%;
     transform:translate(-50%,-50%);
  }
  h2{
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-bottom: 3px;}

  h1{
    text-align: center;
    color: #fff;
    font-weight:normal;
    margin-bottom: 20px;

  }

  input{
    width:100%;
    background: none;
    border: 1px solid #fff;
    border-radius:3px;
    padding:6px 15px;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size:15px;
    color:#fff;
  }

  input[type="button"]{
    background:#fffaaa;
    cursor:pointer;
    color:#000;
  }

  input[type="button"]:hover{
    background:#fff;
  }
  .placeholder{
    color:#fff;
    font-size: 3px;
  }